Flask==2.1.2
Flask-JWT==0.3.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
python-dotenv==0.20.0
gunicorn==20.1.0
importlib-metadata==4.11.4
itsdangerous==2.1.2
numpy==1.22.4
opencv-python-headless==4.2.0.32
Pillow==9.1.1
psycopg2==2.9.3
requests==2.28.0
SQLAlchemy==1.4.37
Werkzeug==2.1.2
zipp==3.8.0
uwsgi
numpy
tensorflow-cpu
opencv-python
Pillow
keras